body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 8px 15px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}